body{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 200vh;
}

.navbar {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed !important;
    background-color: white;
    z-index: 1;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style-type: none;
    margin: 0 10px 0 10px;
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.sign-in-btn{
    margin-right: 40px;
    background-color: rgb(0, 255, 38);
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.sign-in-btn:hover {
    background-color: rgb(0, 226, 45);
}

.navbar li a:hover {
    color: rgb(0, 226, 45);
}



/*---------home--------*/

.home {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-section-1 {
    width: 400px;
    height: 200px;
    padding: 30px;
    text-align: center;
}

.home-section-1 h1 span{
    color: rgb(0, 255, 38);
}
.home-section-1 h1{
    font-size: 40px;
}

.github-btn {
    color: white;
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.github-btn:hover {
    background-color: rgb(0, 0, 0);
}
.yt-btn {
    color: white;
    background-color: rgb(255, 30, 0);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.yt-btn:hover {
    background-color: rgb(223, 26, 0);;
}
.fb-btn {
    color: white;
    background-color: rgb(10, 103, 252);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.fb-btn:hover {
    background-color: rgb(0, 87, 227);
}

.home-section-1 i {
    font-size: 15px;
}

.home-img {
    width: 575px;
}


/* app */

.app-section {
    cursor: pointer;
    margin-left: 50px;
    width: fit-content;
}

.app-section:hover{
    text-decoration: underline;
}

.container {
    margin-top: 50px;
    
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width:900px){

    /*Home*/
    .home{
        margin-top: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .home-section-1{
        width:400px;
        height: 200px;
        text-align: center;
    }

    .home-img{
        width: 475px;
        margin-top: 50px;
    }

    /*App*/

    
}
@media screen and (max-width:550px){

    /*Home*/

    .home{
        width: 100%;
        justify-content: center;
        overflow: hidden;
    }

}
@media screen and (max-width:400px){

    .home-section-1{
        width: 350px;
    }

    /*App*/

    
}