.body{
    margin: 0px;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url('/img/background.jpg');
    background-size: cover;
}

/*navbar*/

.navbar {
    position: absolute;
    margin: 30px 0 0 50px;
}

.navbar a {
    color: white;
    font-family: Trebuchet MS;
    padding: 10px;
    margin: 0 20px 0 20px;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(0, 255, 47);
}

/*container*/

.container {
    position: absolute;
    color: white;
    font-size: 23px;
    top: 40%;
    left: 10%;
    padding: 10px;
}

.box2 { 
   position: absolute;
   top: 10%;
   left: 50%;
}

.box2 img {
    width: 80%;
}

.hello-text {
    font-family: Trebuchet MS;
}

.name-is-text {
    font-family: Trebuchet MS;
    font-size: 30px;
}

.name-text {
    color: rgb(0, 255, 47);
    font-size: 60px;
    font-family: Trebuchet MS;
}

.full-stack-text {
    font-family: Trebuchet MS;
    font-size: 15px;
}