* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(rsd\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .4s;
}

nav ul li a:hover{
    color: rgb(255, 0, 0);
    transition: .4s;
}

.btn{
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    color: white;
    border-radius: 30px;
    transition: transform .3s;
}

.btn:hover {
    transform: scale(1.1);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px 0px;
    font-size:70px ;
}

span{
    color: red;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #585c63;
    font-size: 20px;
    letter-spacing: 2px;
}

.icon {
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap:nowrap ;
    justify-content: flex-start;
    align-items: center;
}

.icon p{
    font-size: 19px;
    color: white;
    margin-right: 60px;
}

.icon1 a{
    color: rgb(255, 255, 255);
    margin-right: 20px;
    transition: transform .3s;
}

.icon1 {
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap:nowrap ;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;

}

.icon1 a:hover{
    transform: scale(1.4);
}