a {text-decoration: none;
}

nav {background-color: #000000;
     text-align: center;
     margin: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     margin-left: 10px;
     margin-right: 10px;
     border-radius: 5px;
}

nav ul { list-style: none;}

nav ul li {display: inline;}

nav ul li a {color: white;
             padding: 5px 30px 5px 30px;
             display: inline-block;
             font-size: 20px;
}

nav ul li a:hover {color: red;
}

.home ul li {color:#5F6A78;
}

.home {background-color: greenyellow;
       padding: 10px 20px 10px 20px;
}

img {margin: 15px;
}

p {margin:10px;
}

h3 { color: blueviolet;
     margin-inline: 90px;
}

.home2 a { margin-inline:160px;
      background-color: red;
}

.home4 { background-color: #B6B6B4;
         text-align: center;
         padding: 10px;
}
